<ul class="nav nav-pills flex-column">
	<li class="nav-item">
		<a class="nav-link @SystemNavPages.IndexNavClass(ViewContext)" id="overview" asp-page="Index">Overview</a>
		<a class="nav-link @SystemNavPages.HypervisorsNavClass(ViewContext)" id="hypervisors" asp-page="Hypervisors">Hypervisors</a>
		<a class="nav-link @SystemNavPages.InstancesNavClass(ViewContext)" id="instances" asp-page="Instances">Instances</a>
		<a class="nav-link @SystemNavPages.VolumesNavClass(ViewContext)" id="volumes" asp-page="Volumes">Volumes</a>
		<a class="nav-link @SystemNavPages.FlavorsNavClass(ViewContext)" id="flavors" asp-page="Flavors">Flavors</a>
		<a class="nav-link @SystemNavPages.ImagesNavClass(ViewContext)" id="images" asp-page="Images">Images</a>
		<a class="nav-link @SystemNavPages.NetworksNavClass(ViewContext)" id="system-info" asp-page="Networks">Networks</a>
		<a class="nav-link @SystemNavPages.DefaultsNavClass(ViewContext)" id="system-info" asp-page="Defaults">Defaults</a>
		<a class="nav-link @SystemNavPages.SystemInfoNavClass(ViewContext)" id="system-info" asp-page="SystemInfo">System Info</a>
	</li>
</ul>