@page
@model HypervisorsModel
@{
	ViewData["Title"] = "All Hypervisors";
}

<h3>Summary</h3>
<p>
	<span class="font-weight-bold">CPU: </span>Used @(Model.CPU.Hundreds().ToString("#"))% of @Model.MaxCPU CPUs
</p>
<p>
	<span class="font-weight-bold">Memory: </span>Used @Model.Memory.Bytes().ToString("#") of @Model.MaxMemory.Bytes().ToString("#")
</p>

<h3>Hypervisors</h3>
<table class="table">
	<thead class="thead-light">
		<tr>
			<th scope="col">Hostname</th>
			<th scope="col">CPUs (total)</th>
			<th scope="col">CPUs (used)</th>
			<th scope="col">Memory (total)</th>
			<th scope="col">Memory (used)</th>
			<th scope="col">Instances</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Hypervisors)
		{
			<tr>
				<th scope="row">@item.Hostname</th>
				<td>@item.MaxCPU</td>
				<td>@item.CPU.Hundreds().ToString("#")%</td>
				<td>@item.MaxMemory.Bytes().ToString("#")</td>
				<td>@item.Memory.Bytes().ToString("#")</td>
				<td>@item.Instances</td>
			</tr>
		}
	</tbody>
	<tfoot class="thead-light">
		<tr>
			<th colspan="6">Displaying @Model.Hypervisors.Count items</th>
		</tr>
	</tfoot>
</table>